<div class="container">
<h1>Listing Expense Categories</h1><br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account number</th>
      <th>Phone</th>
      <th>Autopay</th>
      <th>Comments</th>
      <th>Utility</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="alert">
    <% if @expense_categories.empty? %>
        <h4>
          You have not entered any expense categories.
        </h4>
    </div>
    <% else%>
      <% @expense_categories.each do |expense_category| %>
        <tr>
          <td><%= expense_category.name %></td>
          <td><%= expense_category.account_number %></td>
          <td><%= expense_category.phone %></td>
          <td><%= expense_category.autopay %></td>
          <td><%= expense_category.comments %></td>
          <td><%= expense_category.utility %></td>
          <td><%= expense_category.house_id %></td>
          <td><%= link_to 'Show', expense_category %></td>
          <td><%= link_to 'Edit', edit_expense_category_path(expense_category) %></td>
          <td><%= link_to 'Destroy', expense_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br><br><br>

<button type="button" class="btn btn-default btn-lg active"><%= link_to 'New Expense category', new_expense_category_path %></button>
<button type="button" class="btn btn-default btn-lg active"><%= link_to 'Back', house_path(current_user.house) %></button>
</div>