<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @payment.invoice %>
</p>

<p>
  <strong>Roommate:</strong>
  <%= @payment.roommate %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
