<div class="container">
  <h1>Invoices for <%= invoice_month %></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Date paid</th>
        <th>Expense category</th>
        <th>Amount</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <div class="alert">
        <% if @invoices.empty? %>
        <h4>
        You have not entered any invoices for this month.
        </h4>
      </div>
      <% else%>
      <% @invoices.each do |invoice| %>
      <% if invoice.invoice_period.strftime("%B %Y") == invoice_month %>
        <tr>
          <td><%= invoice.date_paid.strftime("%B %d, %Y") %></td>
          <td><%= invoice.expense_category.name %></td>
          <td><%= invoice.amount %></td>
          <td><%= invoice.comment %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <button type="button" class="btn btn-success"><%= link_to 'NEW INVOICE', new_invoice_path %></button>

  <h2>Summary</h2>
  <table class="table">
    <tr>
      <td>TOTAL EXPENSES:</td>
      <% sum_expenses = 0 %>
      <% limit_to_current_month %>
      <td>  $ <% @month_invoices.each do |invoice| %>
        <% sum_expenses += invoice.amount %>
        <% end %>
        <%= sum_expenses.round(2) %> / <%= current_user.house.roommates.count + 1 %> roommates
      </td>
    </tr>
    <tr>
      <td><strong>OWED PER PERSON:</strong></td>
      <td><strong><font color="red" size="6">$ <%= ( sum_expenses.round(2) / (current_user.house.roommates.count + 1)).round(2) %></font></strong></td>
    </tr>
  </table>
  <button type="button" class="btn btn-default btn-lg active"><%= link_to 'Back', house_path(current_user.house) %></button>
</div>
