<div class="container">
<h1>Editing House Profile</h1>

<%= render 'form' %>

<h3>Roommates:</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @house.roommates.each do |roommate| %>
  <tr> 
    <td><%= roommate.name %></td>
    <td><%= roommate.email %></td>
    <td><%= link_to 'Edit', edit_roommate_path(roommate.id) %></td>
    <td><%= link_to 'Delete', roommate_path(roommate.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
<%= link_to '+ Add Roommate', new_roommate_path %><br><br><br>


<h3>Expense Categories:</h3>
<table class="table table-striped">
  <tr>
    <th>Expense Category</th>
    <th>Account Number</th>
    <th>Phone Number</th>
    <th>Utility</th>
    <th>Autopay</th>
    <th>Comments</th>
  </tr>
  <% @house.expense_categories.each do |expense_category| %>
  <tr> 
    <td><%= expense_category.name %></td>
    <td><%= expense_category.account_number %></td>
    <td><%= expense_category.phone %></td>
    <td><%= expense_category.utility %></td>
    <td><%= expense_category.autopay %></td>
    <td><%= expense_category.comments %></td>
    <td><%= link_to 'Edit', edit_expense_category_path(expense_category.id) %></td>
    <td><%= link_to 'Delete', expense_category_path(expense_category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to '+ Add Expense Category', new_expense_category_path %><br><br><br>

<button type="button" class="btn btn-default btn-lg active"><%= link_to 'Dashboard', root_path %></button>
<button type="button" class="btn btn-default btn-lg active"><%= link_to 'Back', house_path(current_user.house) %></button>  

</div>