<div class="container"> 
  <h1><%= @house.name %> Profile</h1>
  <p id="notice"><%= notice %></p><br>

  <h3>Roommates:</h3>
  <div class="roommates">
  <table class="table table-bordered">
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Email</strong></td>
    </tr>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= current_user.email %></td>
    </tr>
    <% @house.roommates.each do |roommate| %>
    <tr> 
      <td><%= roommate.name %></td>
      <td><%= roommate.email %></td>
    </tr>
    <% end %>
  </table>
  </div>


  <h3>Expense Categories:</h3>
  <div class="table-general">
  <table class="table table-bordered">
    <tr>
      <td><strong>Expense Category</strong></td>
      <td><strong>Account Number</strong></td>
      <td><strong>Phone Number</strong></td>
      <td><strong>Utility</strong></td>
      <td><strong>Autopay</strong></td>
      <td><strong>Comments</strong></td>
    </tr>
    <% @house.expense_categories.each do |expense_category| %>
    <tr> 
      <td><%= expense_category.name %></td>
      <td><%= expense_category.account_number %></td>
      <td><%= expense_category.phone %></td>
      <% if expense_category.utility == true %>
        <td><%= "X" %></td>
      <% else %>
        <td><%= "" %></td>
      <% end %>
      <td><%= expense_category.autopay == true ? "X" : "" %></td>
      <td><%= expense_category.comments %></td>
    </tr>
    <% end %>
  </table>
</div>

  <button type="button" class="btn btn-default btn-lg active">
    <%= link_to 'Dashboard', root_path %>
  </button>
  <button type="button" class="btn btn-default btn-lg active">
    <%= link_to 'Edit', edit_house_path(@house) %>
  </button>

</div>
