<fieldset>
<table>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.label :email %></td>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :email %></td>
    <td><%= f.hidden_field :_destroy %></td>
    <td><%= link_to "remove", '#', class: "remove_fields" %></td>
  </tr>
</table>
</fieldset>
